@font-face {
    font-family: "Suite-Regular";
    src: url(../font/SUITE-Regular.woff2);
}

*{
    font-family: "Suite-Regular" !important;
}

:root{
    --swiper-navigation-size: 22px
}

#page-top{
    .masthead{
        height: 680px;
        .masthead-ins{
            left: 50%;
            top: 50%;
            transform: translate(-50%, -25%);
            z-index: 100;
        }
        .banner-button{
            border-radius: 30px !important;
        }
    }
    #portfolio{        
        .skills-text{
            font-size: 21px;
            color: #6c757d;
        }
        .skills-box{
            img{
                width: 100px;
            }
        }        
    }
    #contact{  
        p{
            font-size: 1.5rem;            
        }      
        a{
            font-size: 3.4rem;            
        }
        .tel-icon{
            margin-right: 13px;
        }
    }
}

.footer{
    background-color: #212529;
    color: white;
    
}




html,body{ 
	width:100%;
	height:100%;

}



canvas{
  display:block;
  height: 680px;
  position: absolute;
  top: 0;
  left: 0;
}




#about{
    .projects-item{
        h5{
            color: #5d6061;
            font-weight: 500;
            font-size: 20px;
        }
    }

    .swiper-btn-wrap{
        
        .slider{
            width: 100%;
            
            .swiper{
                width: 100%;
                height: 100%;
                
            }
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 100%;
                    }
                }
                
            }
            .swiper-pagination{
                width: 90px;
                position: static;
                text-align: center;
                transition: .3s opacity;
                transform: translate3d(0,0,0);
                z-index: 10;
            }
            
            .swiper-button-next,.swiper-button-prev {
                position: static;                
                width: calc(var(--swiper-navigation-size)/ 44 * 27);
                height: var(--swiper-navigation-size);
                margin-top: 1px;
                z-index: 10;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
            }
        }
    }
    .projects-item-text{
        font-size: 18px;
        p{
            margin: 0;
        }
        .pit-small-title{            
            font-weight: 600;
            color: #373738;
        }
        .pit-small-text{
            word-break: break-all;
            a{                
                text-decoration: none;
                color: #212529;                
            }
        }
    }
    
    
}
